flows.json
[
    {
        "id": "0af58d45d036aef2",
        "type": "tab",
        "label": "220734B",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8760b24e30f3648b",
        "type": "mqtt in",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-temp-humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "f9f9db28503a5c12",
                "fde36985b1ce4932",
                "044f257b7137ea91",
                "a2872ec2c75fb3a7",
                "42d6465163f15fbe"
            ]
        ]
    },
    {
        "id": "f9f9db28503a5c12",
        "type": "ui_gauge",
        "z": "0af58d45d036aef2",
        "name": "",
        "group": "d6318406dff2d0e4",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{payload.temperature}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 120,
        "wires": []
    },
    {
        "id": "fde36985b1ce4932",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 200,
        "wires": []
    },
    {
        "id": "044f257b7137ea91",
        "type": "function",
        "z": "0af58d45d036aef2",
        "name": "function 1",
        "func": "msg.payload=msg.payload.temperature\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 60,
        "wires": [
            [
                "9cba79415023eaa8"
            ]
        ]
    },
    {
        "id": "a2872ec2c75fb3a7",
        "type": "ui_gauge",
        "z": "0af58d45d036aef2",
        "name": "",
        "group": "913133e876fec169",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "wave",
        "title": "gauge",
        "label": "%",
        "format": "{{payload.humidity}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "9cba79415023eaa8",
        "type": "ui_chart",
        "z": "0af58d45d036aef2",
        "name": "",
        "group": "d6318406dff2d0e4",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 970,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "4202cf3d1d5e6222",
        "type": "ui_chart",
        "z": "0af58d45d036aef2",
        "name": "",
        "group": "913133e876fec169",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 990,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "42d6465163f15fbe",
        "type": "function",
        "z": "0af58d45d036aef2",
        "name": "function 2",
        "func": "msg.payload=msg.payload.humidity\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 340,
        "wires": [
            [
                "4202cf3d1d5e6222"
            ]
        ]
    },
    {
        "id": "0812b5e672749f11",
        "type": "mqtt in",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-alarm-state",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 420,
        "y": 460,
        "wires": [
            [
                "2ab66846ccf0a84e",
                "a38b7a49b4481bb2"
            ]
        ]
    },
    {
        "id": "2ab66846ccf0a84e",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "600e03853435a31c",
        "type": "mqtt in",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-ldr-value",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 430,
        "y": 920,
        "wires": [
            [
                "37fec176e4d967e2",
                "a2972ef1a4ae9380"
            ]
        ]
    },
    {
        "id": "37fec176e4d967e2",
        "type": "function",
        "z": "0af58d45d036aef2",
        "name": "function 4",
        "func": "// Get the sending interval tu (in seconds); default to 120s (2 min)\nlet tu = flow.get(\"tu\");\ntu = (typeof tu === \"number\") ? tu * 60 : 120;\n\n// Get the sampling interval ts (in seconds); default to 5s\nlet ts = flow.get(\"ts\") || 5;\n\n// Calculate how many readings to store before sending\nlet maxReadings = Math.floor(tu / ts);\n\n// Get previous readings from context\nlet readings = context.get(\"readings\") || [];\n\n// Add the new reading\nreadings.push(msg.payload);\n\n// If we have enough readings, calculate and send average\nif (readings.length >= maxReadings) {\n    let sum = readings.reduce((a, b) => a + b, 0);\n    let avg = sum / readings.length;\n\n    // Clear the buffer\n    context.set(\"readings\", []);\n\n    // Output average value\n    msg.payload = avg;\n    return msg;\n} else {\n    // Save updated readings buffer\n    context.set(\"readings\", readings);\n    return null; // Not enough samples yet\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 920,
        "wires": [
            [
                "c3286c906db0a03a",
                "cdbbc29ff24f4d5d",
                "5695d2e943439b99"
            ]
        ]
    },
    {
        "id": "c3286c906db0a03a",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 860,
        "wires": []
    },
    {
        "id": "cdbbc29ff24f4d5d",
        "type": "ui_numeric",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "recent average",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "1",
        "step": ".000000001",
        "className": "",
        "x": 960,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5695d2e943439b99",
        "type": "ui_chart",
        "z": "0af58d45d036aef2",
        "name": "",
        "group": "759ec6f5a0863283",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "intensity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "2",
        "removeOlderPoints": "20",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#f8e45c",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1060,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "3893a541606bc0e8",
        "type": "ui_slider",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "sampling interval(s)",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": 10,
        "step": 1,
        "className": "",
        "x": 410,
        "y": 680,
        "wires": [
            [
                "38ee906428976c9d",
                "df1785fc8d119f54"
            ]
        ]
    },
    {
        "id": "513f47b03cdd0d0e",
        "type": "ui_slider",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "sending interval(min)",
        "tooltip": "",
        "group": "759ec6f5a0863283",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "1",
        "max": "20",
        "step": 1,
        "className": "",
        "x": 420,
        "y": 740,
        "wires": [
            [
                "e0e3c956f0784242",
                "4a8a2933733d22b5"
            ]
        ]
    },
    {
        "id": "e0e3c956f0784242",
        "type": "function",
        "z": "0af58d45d036aef2",
        "name": "function 6",
        "func": "flow.set(\"tu\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "38ee906428976c9d",
        "type": "function",
        "z": "0af58d45d036aef2",
        "name": "function 5",
        "func": "flow.set(\"ts\",msg.payload)\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "df1785fc8d119f54",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 710,
        "y": 620,
        "wires": []
    },
    {
        "id": "a2972ef1a4ae9380",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 980,
        "wires": []
    },
    {
        "id": "4a8a2933733d22b5",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 710,
        "y": 800,
        "wires": []
    },
    {
        "id": "d748537ce20b0c3e",
        "type": "ui_slider",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "θ_offset",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 1200,
        "wires": [
            [
                "12bee24e82016b18"
            ]
        ]
    },
    {
        "id": "1874dd3b6475c7a6",
        "type": "ui_slider",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "γ",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "1",
        "step": "0.01",
        "className": "",
        "x": 390,
        "y": 1280,
        "wires": [
            [
                "b43012856f1a86cf"
            ]
        ]
    },
    {
        "id": "ab638fe538cca170",
        "type": "ui_slider",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "T_med",
        "tooltip": "",
        "group": "2d14387c67c8d317",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 400,
        "y": 1360,
        "wires": [
            [
                "1ff3e4ef727378a3"
            ]
        ]
    },
    {
        "id": "12bee24e82016b18",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-θ_offset",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 670,
        "y": 1200,
        "wires": []
    },
    {
        "id": "b43012856f1a86cf",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-γ",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 650,
        "y": 1280,
        "wires": []
    },
    {
        "id": "1ff3e4ef727378a3",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-T_med",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 670,
        "y": 1360,
        "wires": []
    },
    {
        "id": "798fa72c85eba201",
        "type": "ui_switch",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "ff18bde2aa5e14f3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": true,
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": false,
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 1460,
        "wires": [
            [
                "7dc57248d64f2b7b"
            ]
        ]
    },
    {
        "id": "a38b7a49b4481bb2",
        "type": "ui_toast",
        "z": "0af58d45d036aef2",
        "position": "top left",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Alarm Enabled!  Take Medicine",
        "name": "",
        "x": 880,
        "y": 520,
        "wires": []
    },
    {
        "id": "db3607a44aeb9ee6",
        "type": "ui_text_input",
        "z": "0af58d45d036aef2",
        "name": "",
        "label": "Time",
        "tooltip": "",
        "group": "ff18bde2aa5e14f3",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "time",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 390,
        "y": 1580,
        "wires": [
            [
                "5d2666b905142f8a",
                "7a8c727433c36be0"
            ]
        ]
    },
    {
        "id": "7dc57248d64f2b7b",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-alarm-on-off",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 720,
        "y": 1460,
        "wires": []
    },
    {
        "id": "6a1a96964328111c",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 1200,
        "wires": []
    },
    {
        "id": "1b7d49bba5b15e59",
        "type": "mqtt in",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-alarm-on-off",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "32708ed9ec6606b3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1020,
        "y": 1200,
        "wires": [
            [
                "6a1a96964328111c"
            ]
        ]
    },
    {
        "id": "5d2666b905142f8a",
        "type": "mqtt out",
        "z": "0af58d45d036aef2",
        "name": "",
        "topic": "rashmikanaveen-set-alarm-time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "32708ed9ec6606b3",
        "x": 750,
        "y": 1580,
        "wires": []
    },
    {
        "id": "7a8c727433c36be0",
        "type": "debug",
        "z": "0af58d45d036aef2",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 1660,
        "wires": []
    },
    {
        "id": "32708ed9ec6606b3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d6318406dff2d0e4",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "97d3c8054ed373cf",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "913133e876fec169",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "97d3c8054ed373cf",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "759ec6f5a0863283",
        "type": "ui_group",
        "name": "LIght intensity",
        "tab": "97d3c8054ed373cf",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2d14387c67c8d317",
        "type": "ui_group",
        "name": " shade controll",
        "tab": "97d3c8054ed373cf",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ff18bde2aa5e14f3",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "97d3c8054ed373cf",
        "order": 5,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "97d3c8054ed373cf",
        "type": "ui_tab",
        "name": "MediBox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]